@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@1&display=swap');

:root {
  --white: #f8edeb;
  --darkgreen: #152f30;
  --green: #285a51;
  --maroon: #5b4045;
  --red: #8f4c55;
  --lightred: #ce4f5a;
}

body,
.prompt-text{
  background-color: var(--white);
  color: var(--maroon);
  font-family: 'Cabin', sans-serif;
}


.hero {
  color: var(--green);
  font-size: 3rem;
  font-family: 'IM Fell Double Pica', serif;
}

.day-header, .code-section, .prompt-section {
  margin-left: 4vw;
  margin-right: 4vw;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
  transition: opacity 400ms;
}
.code-text {
  background-color: var(--darkgreen);
  color: var(--white);
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:

    'header header header header'
    ' . main main . '
    'footer footer footer footer';
}
.days-grid {
  display: grid;
  width: 100%;
  padding: auto;
  justify-content: space-around;
  align-content: space-around;
  row-gap: 2rem;
  column-gap: .5rem;
  grid-area: main;
  white-space: nowrap;
  grid-template-columns:  auto auto auto auto auto ;

}

.header {
  align-self: center;
  justify-self: center;
  text-align: center;
  grid-area: header;
  word-wrap: normal;
  overflow-wrap: normal;
  margin-left: 10%;
}

.day-block {
  background-color: var(--red);
  height: 60px;
  width: 60px;
  color: var(--white);
  text-align: center;
  border-color: var(--lightred);
  border-radius: 20%;
  border-width: medium;
  border-style: outset;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/*the buttons that are used to open the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}